.top-margin {
  margin-top: 50px;
}

.nav-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.right-margin {
  margin-right: 10px
}

.nav-blue {
  background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}

.navbar{
  padding:1rem 1rem;
}








.navbar-text {
  font-size: 20px;
  font-weight: bold;
}

.white-text {
  color: #FFFFFF;
}

.text-middle {
  text-align: center;
}

.bg {
  background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 3rem;
}

.font-sketch {
  font-family: 'Cabin Sketch', cursive;
}

.large-font {
  font-size: 30px;
}
